@page "/"
@inject ReceptService receptService
@using FoodCalc.Web.Components.Services
@using FoodHub.Persistence.Entities

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Use this site to learn more about Blazor!</p>

<div class="container-fluid ps-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (Recept recept in Recepts)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@recept.Name</h5>
                        <p class="card-text">Description: @recept.Name</p>
                        <p class="card-text">Created: @recept.CreatedDate</p>
                        <p class="card-text">Modified: @recept.ModifiedDate</p>
                        <p class="card-text">Ingredients:</p>
                        <ul>
                            @if (recept.ReceptIngredient != null)
                            {
                                foreach (ReceptIngredient ingredient in recept.ReceptIngredient)
                                {
                                    <li>@ingredient.Ingredient.Name - @ingredient.Amount @nameof(ingredient.IngredientAmount)</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (!string.IsNullOrEmpty(_errormessage))
{
    <p>@_errormessage</p>
}


@code{
    private string _errormessage = string.Empty;
    List<Recept> Recepts = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Recepts = await receptService.GetAllReceptsAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _errormessage = ex.Message;
            StateHasChanged();
            throw ex;
        }
    }
}
