@using FoodCalc.Web.Components.Services
@using FoodHub.Persistence.Entities

@page "/"

@inject RecipeService recipeService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>list of recipes</h1>


<div class="container-fluid ps-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (Recipe recipe in Recipes)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">Description: @recipe.Name</p>
                        @* <p class="card-text">Created: @recipe.CreatedDate</p> *@
                        @* <p class="card-text">Modified: @recipe.ModifiedDate</p> *@
                        <p class="card-text">Ingredients:</p>
                        <ul>
                            @if (recipe.RecipeIngredient != null)
                            {
                                foreach (RecipeIngredient ingredient in recipe.RecipeIngredient)
                                {
                                    <li>@ingredient.Ingredient.Name - @ingredient.Amount @nameof(ingredient.IngredientAmount)</li>
                                }
                            }
                        </ul>
                        <button class="btn btn-primary" @onclick="() => EditRecipe(recipe.Id)">Edit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (!string.IsNullOrEmpty(_errormessage))
{
    <p>@_errormessage</p>
}


@code{
    private string _errormessage = string.Empty;
    List<Recipe> Recipes = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Recipes = await recipeService.GetAllRecipesAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _errormessage = ex.Message;
            StateHasChanged();
            throw ex;
        }
    }

    private void EditRecipe(Guid recipeId)
    {
        NavigationManager.NavigateTo($"/recipe/edit/{recipeId}");
    }
}
